/*
 * wood.jpg - http://nortago.deviantart.com/art/Bg-Texture-wood-38841113
 */

html {
  background-color: #FFF;
}

body {
  text-align: center;
}

#fork {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.kalimba {
  background-image: url(wood.jpg);
  display: inline-block;
  margin: 0 auto;
  text-align: center;

  box-shadow: 6px 5px 3px #999;

  -webkit-border-bottom-left-radius: 20px;
  -moz-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tines {
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
}

.tine {
  background-color: #999;
  float: left;
  height: 300px;
  margin: 0 5px;
  width: 18px;

  -webkit-border-bottom-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.hole {
  background: transparent url(wood.jpg) bottom right;
  height: 120px;
  margin: 0 auto 200px auto;
  width: 120px;

  border: 1px solid #000;
  box-shadow: inset 6px 5px 3px #000;

  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.tine[data-note="F#"] {
  background-color: #369;
}

.tine[data-note="D"] {
  background-color: #063;
}

.tine[data-note="B"] {
  background-color: #FF3;
}

.tine[data-note="G"] {
  background-color: #F90;
}

.tine[data-note="E"] {
  background-color: #C33;
}

.tine[data-note="C"] {
  background-color: #936;
}

.tine[data-note="A"] {
  background-color: #F69;
}