/*
 * wood.jpg - http://nortago.deviantart.com/art/Bg-Texture-wood-38841113
 */

html {
  background-color: #FFF;
}

body {
  padding-top: 20px;
  text-align: center;
}

#fork {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.kalimba {
  background-image: url(wood.jpg);
  display: inline-block;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  text-align: center;

  box-shadow: 6px 5px 3px #999;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tines {
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
}

.tine {
  background-color: #999;
  cursor: pointer;
  float: left;
  margin: 0 5px;
  width: 18px;

  box-shadow: 4px 3px 3px #000;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.tine span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 9px;
}

.hole {
  background: transparent url(wood.jpg) bottom right;
  height: 120px;
  margin: 0 auto 200px auto;
  width: 120px;

  border: 1px solid #000;
  box-shadow: inset 6px 5px 3px #000;

  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.bar {
  background-color: #fff;
  height: 15px;
  position: absolute;
  top: 70px;
  width: 100%;

  box-shadow: 2px 2px 3px #000;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.tine[data-note="F#'"], .tine[data-note="A"], .tine[data-note="C'"] {
  background-color: #369;
}

.tine[data-note="D'"], .tine[data-note="G-"], .tine[data-note="E'"] {
  background-color: #063;
}

.tine[data-note="B'"], .tine[data-note="B"], .tine[data-note="G'"] {
  background-color: #FF3;
}

.tine[data-note="G"], .tine[data-note="D"] {
  background-color: #F90;
}

.tine[data-note="E"], .tine[data-note="F#"] {
  background-color: #C33;
}

.tine[data-note="C"], .tine[data-note="A'"] {
  background-color: #936;
}