/*
 * wood.jpg - http://nortago.deviantart.com/art/Bg-Texture-wood-38841113
 */

.kalimba {
  .rounded-corners(20px);
  .user-select(none);

  display: inline-block;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  text-align: center;

  background-image: url(../images/wood.jpg);
  box-shadow: 6px 5px 3px #999;
}

.tines {
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
}

.tine {
  .rounded-corners(8px);

  cursor: pointer;
  float: left;
  margin: 0 5px;
  width: 18px;

  background-color: #999;
  box-shadow: 4px 3px 3px #000;

  &:hover {
    .animation(vibrate, 150ms, 2, linear);
  }

  span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 9px;
  }
}

.hole {
  .rounded-corners(60px);

  height: 120px;
  margin: 0 auto 200px auto;
  width: 120px;

  background: transparent url(../images/wood.jpg) bottom right;
  border: 1px solid #000;
  box-shadow: inset 6px 5px 3px #000;
}

.bar {
  .rounded-corners(8px);

  height: 15px;
  position: absolute;
  top: 70px;
  width: 100%;

  background-color: #fff;
  box-shadow: 2px 2px 3px #000;
}