.kalimba {
  .box-shadow(6px 5px 3px #999);
  .rounded(20px);
  .user-select(none);

  display: inline-block;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  text-align: center;

  background-image: url(../images/wood.jpg);

  .bar {
    .box-shadow(2px 2px 3px #000);
    .rounded(8px);

    height: 15px;
    position: absolute;
    top: 70px;
    width: 100%;

    background-color: #fff;
  }

  .hole {
    .box-shadow(inset 6px 5px 3px #000);
    .rounded(60px);

    height: 120px;
    margin: 0 auto 200px auto;
    width: 120px;

    background: transparent url(../images/wood.jpg) bottom right;
    border: 1px solid #000;
  }
}