.metronome {
  display: inline-block;
  margin-left: 100px;
  vertical-align: top;

  .beat {
    .rounded-corners(50%);

    border: 5px solid transparent;
    font-size: 128px;
    height: 150px;
    margin-bottom: 5px;
    width: 150px;
  }

  &[data-started="true"] .beat {
    border-color: #000;
  }

  .controls input {
    margin: 5px 2px;
  }

  .toggle input[name="value"] {
    text-align: center;
    width: 50px;
  }

  .toggle label {
    margin-right: 5px;
  }
}