.metronome {
  display: inline-block;
  margin-left: 100px;
  vertical-align: top;

  .beat {
    font-size: 128px;
    min-height: 150px;
    min-width: 128px;
  }

  .controls input {
    margin: 0 2px;
  }
}