.animation(@name, @duration, @iterations, @timing) {
  animation-name: @name;
  animation-duration: @duration;
  animation-iteration-count: @iterations;
  animation-timing-function: @timing;

  -moz-animation-name: @name;
  -moz-animation-duration: @duration;
  -moz-animation-iteration-count: @iterations;
  -moz-animation-timing-function: @timing;

  -webkit-animation-name: @name;
  -webkit-animation-duration: @duration;
  -webkit-animation-iteration-count: @iterations;
  -webkit-animation-timing-function: @timing;
}

.tine-color(@background-color) {
  background-color: @background-color;

  @gradient-color: lighten(@background-color, 30%);
  &.pressed { .gradient(@gradient-color, @gradient-color, @background-color); }
}