@import 'normalize.css';
@import 'elements';
@import 'mixins';
@import 'kalimba';
@import 'tines';
@import 'metronome';
@import 'tuner';

html {
  background-color: #FFF;
}

#attribution {
  bottom: 0;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  right: 0;

  a {
    color: #369;
    margin: 0 2px;
    padding: 2px 4px;
    text-decoration: none;

    &:hover {
      background-color: #369;
      color: #FFF;
    }
  }
}

#container {
  font-family: arial, verdana;
  padding-top: 20px;
  text-align: center;
}

#github-fork {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}