/*
 * wood.jpg - http://nortago.deviantart.com/art/Bg-Texture-wood-38841113
 */

html {
  background-color: #FFF;
}

body {
  padding-top: 20px;
  text-align: center;
}

#fork {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.kalimba {
  background-image: url(../images/wood.jpg);
  display: inline-block;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  text-align: center;

  box-shadow: 6px 5px 3px #999;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tines {
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
}

.tine {
  background-color: #999;
  cursor: pointer;
  float: left;
  margin: 0 5px;
  width: 18px;

  box-shadow: 4px 3px 3px #000;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.tine:hover {
  animation-name: shake;
  animation-duration: 150ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;

  -moz-animation-name: shake;
  -moz-animation-duration: 150ms;
  -moz-animation-iteration-count: 2;
  -moz-animation-timing-function: linear;

  -webkit-animation-name: shake;
  -webkit-animation-duration: 150ms;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}

.tine span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 9px;
}

.hole {
  background: transparent url(../images/wood.jpg) bottom right;
  height: 120px;
  margin: 0 auto 200px auto;
  width: 120px;

  border: 1px solid #000;
  box-shadow: inset 6px 5px 3px #000;

  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.bar {
  background-color: #fff;
  height: 15px;
  position: absolute;
  top: 70px;
  width: 100%;

  box-shadow: 2px 2px 3px #000;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.tine[data-note="F#'"], .tine[data-note="A"], .tine[data-note="C'"] {
  background-color: #369;
}

.tine[data-note="D'"], .tine[data-note="G-"], .tine[data-note="E'"] {
  background-color: #063;
}

.tine[data-note="B'"], .tine[data-note="B"], .tine[data-note="G'"] {
  background-color: #FF0;
}

.tine[data-note="G"], .tine[data-note="D"] {
  background-color: #F90;
}

.tine[data-note="E"], .tine[data-note="F#"] {
  background-color: #C33;
}

.tine[data-note="C"], .tine[data-note="A'"] {
  background-color: #936;
}

@keyframes shake{ 
  0% { transform: translate(0, 0); }
  10% { transform: translate(1px, 0); }
  20% { transform: translate(0, 0); }
  30% { transform: translate(-1px, 0); }
  40% { transform: translate(0, 0); }
  50% { transform: translate(1px, 0); }
  60% { transform: translate(0, 0); }
  70% { transform: translate(-1px, 0); }
  80% { transform: translate(0, 0); }
  90% { transform: translate(1px, 0); }
  100% { transform: translate(0, 0); }
}

@-moz-keyframes shake{ 
  0% { -moz-transform: translate(0, 0); }
  10% { -moz-transform: translate(1px, 0); }
  20% { -moz-transform: translate(0, 0); }
  30% { -moz-transform: translate(-1px, 0); }
  40% { -moz-transform: translate(0, 0); }
  50% { -moz-transform: translate(1px, 0); }
  60% { -moz-transform: translate(0, 0); }
  70% { -moz-transform: translate(-1px, 0); }
  80% { -moz-transform: translate(0, 0); }
  90% { -moz-transform: translate(1px, 0); }
  100% { -moz-transform: translate(0, 0); }
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(0, 0); }
  10% { -webkit-transform: translate(1px, 0); }
  20% { -webkit-transform: translate(0, 0); }
  30% { -webkit-transform: translate(-1px, 0); }
  40% { -webkit-transform: translate(0, 0); }
  50% { -webkit-transform: translate(1px, 0); }
  60% { -webkit-transform: translate(0, 0); }
  70% { -webkit-transform: translate(-1px, 0); }
  80% { -webkit-transform: translate(0, 0); }
  90% { -webkit-transform: translate(1px, 0); }
  100% { -webkit-transform: translate(0, 0); }
}