.kalimba .tines {
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;

  .tine {
    .box-shadow(4px 3px 3px #000);
    .rounded(8px);

    color: #999;
    cursor: pointer;
    float: left;
    margin: 0 5px;
    width: 18px;

    span {
      color: rgba(0, 0, 0, 0.6);
      font-size: 9px;
    }

    &:hover, &.tuned {
      .animation(vibrate, 150ms, 2, linear);
    }

    &[data-note="F#5"], &[data-note="A4"], &[data-note="C5"] {
      .gradient(#369, #369, #9CF);
      &:hover { .gradient(#9CF, #9CF, #369); }
    }

    &[data-note="D5"], &[data-note="G3"], &[data-note="E5"] {
      .gradient(#063, #063, #6C9);
      &:hover { .gradient(#6C9, #6C9, #063); }
    }

    &[data-note="B5"], &[data-note="B4"], &[data-note="G5"] {
      .gradient(#FF0, #FF0, #FF9);
      &:hover { .gradient(#FF9, #FF9, #FF0); }
    }

    &[data-note="G4"], &[data-note="D4"] {
      .gradient(#F90, #F90, #FC6);
      &:hover { .gradient(#FC6, #FC6, #F90); }
    }

    &[data-note="E4"], &[data-note="F#4"] {
      .gradient(#C33, #C33, #F99);
      &:hover { .gradient(#F99, #F99, #C33); }
    }

    &[data-note="C4"], &[data-note="A5"] {
      .gradient(#936, #936, #F9C);
      &:hover { .gradient(#F9C, #F9C, #936); }
    }
  }
}