.kalimba .tines {
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;

  .tine-wrapper {
    float: left;
    margin: 0 5px;
    width: 18px;

    .tine {
      .box-shadow(4px 3px 3px #000);
      .rounded(8px);

      color: #999;
      cursor: pointer;
      height: 100%;

      span {
        color: rgba(0, 0, 0, 0.6);

        &.note {
          font-size: 9px;
        }

        &.shortcut {
          display: block;
          font-size: 12px;
          margin-top: 60px;
        }
      }

      &[data-note="F#5"], &[data-note="A4"], &[data-note="C5"] {
        .tine-color(#369);
      }

      &[data-note="D5"], &[data-note="G3"], &[data-note="E5"] {
        .tine-color(#063);
      }

      &[data-note="B5"], &[data-note="B4"], &[data-note="G5"] {
        .tine-color(#FF0);
      }

      &[data-note="G4"], &[data-note="D4"] {
        .tine-color(#F90);
      }

      &[data-note="E4"], &[data-note="F#4"] {
        .tine-color(#C33);
      }

      &[data-note="C4"], &[data-note="A5"] {
        .tine-color(#936);
      }

      &.pressed {
        .box-shadow(2px 2px 2px #000);
        height: 99%;
      }
    }
  }
}